@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    @apply appearance-none;
  }
}

#slider {
  appearance: none;
  width: 100%;
  height: 32px;
  outline: none;
  border-radius: 3px;
  position: absolute;
  background-color: rgba(173, 53, 53, 0.336);
  background-color: transparent;
  z-index: 40;
}

#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 48px;
  height: 48px;
  cursor: pointer;
  z-index: 42;
  position: relative;
  border-radius: 50%;
  background-color: red;
  background-color: transparent;
}